/* Formats section */
.formats-title {
  margin-bottom: 80px;
}

.format-title {
  z-index: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-light);
}

.format-text {
  z-index: 0;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-light);
}
