:root {
  --color-brand-normal: olive;
  --color-light: aliceblue;
  --color-brand-dark: darkolivegreen;
  --primary-dark: black;
  --primary-light: #faf4ea;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
  --color-social-facebook: blue;
  --color-social-instagram: #ff0080;
}
