/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --color-brand: olive;
    --color-light:aliceblue;
    --color-brand-dark:darkolivegreen;
    --primary-dark: black;
    --primary-light: white;
}

/*Base*/
body {
    color: var(--primary-dark);
    font-family: 'Poppins',sans-serif;
    font-style: 18px;
    font-weight: 400;
    line-height: 1.5;
}

address {
    font-style: normal;
}

h1 {
    /*border: 2px solid var(--color-brand);*/
    background-color: var(--primary-light);
}

ul {
    list-style: none;
}

p .accent{
    color: var(--color-brand);
}

/*Hero section*/
.hero-title {
    color: var(--primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    text-shadow: 2px 2px 2px #000;
}

.hero-title .accent {
    color: var(--color-brand);
}

/*Button section*/
.button {
    background-color: var(--color-brand);
    color: var(--primary-light);
    border-radius: 4px;
    border: 1px solid var(--color-brand);
    font-weight: 600;
}

.button:hover {
    background-color: var(--primary-light);
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
    cursor: pointer;
}

.button:active {
    background-color: var(--color-brand-dark);
}

/*Link section*/
.link {
    color: var(--color-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-dark);
        font-weight: 600;
}

/*List*/
.advantages-list {
    background-color: var(--color-brand);
    color: var(--primary-light);
}

.advantages-item {
    font-style: 20px;
    font-weight: 300;
}
.section-title {
    color: var(--primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/*Tradition text*/
.traditions-text .brand {
    color: var(--color-brand);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

/*Chefs section*/
.chef-title {
    font-size: 40px;
    font-weight: 600;
}

/* Formats section */
.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* Footer */
.adress-link {
    color: var(--color-light);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.adress-link:hover {
    color: var(--color-brand);
    font-size: 16px;
    font-weight: 300;
}

.adress-copyright {
    color: var(--color-light);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}