:root {
    --color-brand: olive;
    --color-light:aliceblue;
    --color-brand-dark:darkolivegreen;
    --primary-dark: black;
    --primary-light: white;
}
/*Base*/
body {
    color: var(--primary-dark);
    font-family: 'Poppins',sans-serif;
}
h1 {
    border: 2px solid var(--color-brand);
    background-color: var(--primary-light);
}
ul {
    list-style: none;
}
p .accent{
    color: var(--color-brand);
}
/*Hero section*/
.hero-title {
    color: var(--primary-light);
}
.hero-title .accent {
    color: var(--color-brand);
}
/*Button section*/
.button {
    background-color: var(--color-brand);
    color: var(--primary-light);
    border-radius: 4px;
    border: 1px solid var(--color-brand);
}
.button:hover {
    background-color: var(--primary-light);
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
    cursor: pointer;
}
.button:active {
    background-color: var(--color-brand-dark);
}
/*Link section*/
.link {
    color: var(--color-light);
    text-decoration: none;
}
.link:hover {
    color: var(--color-brand-dark);
}
/*List*/
.advantages-list {
    background-color: var(--color-brand);
    color: var(--primary-light);
}
.section-title {
    color: var(--primary-dark);
}
.section-title .accent {
    color: var(--color-brand-dark);
}