.box {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: burlywood;
    border: 1px solid violet;
    padding: 10px 16px;
    border-radius: 5px;
    margin: 0 auto;
}
.box:nth-child(n+2) {
    background-color: aqua;
}box