/*Chefs section*/
.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.chefs-title {
  position: relative;
  margin: 0 auto 80px;
  /* max-width: 520px; */
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
