/*Hero section*/
.hero-title {
  color: var(--primary-light);
  background: none;
  margin-bottom: 0;
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  text-shadow: 2px 2px 2px #000;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
}
